# Node modules
frontend/node_modules/
backend/node_modules/

# Build files
frontend/build/
frontend/dist/
backend/public/build/

# Environment files
*.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE settings
.vscode/
.idea/
